.header {
  background-color: var(--main-dark);
  height: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  &__logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  &__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    a {
      color: white;
      font-size: 20px;
      transition: all ease 0.3s;

      &:hover {
        text-shadow: 1px 1px 10px #fff;
      }
    }
  }
}